:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* ANGELBOT THEME */
  --bg-main: #08101c;
  --bg-panel: #0b111f;
  --bg-soft: rgba(12, 18, 34, 0.9);
  --accent: #8fd5ff;
  --accent-soft: #bfe5ff;
  --text-main: #dbe9ff;

  color-scheme: dark;
  color: var(--text-main);
  background-color: var(--bg-main);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
}
